
<article>
  <main class="{centered ? 'centered':''}">
    <div class="hero-title">
      {#if showImage}
        <HeroIcon {hero} />
      {/if}
      <div class="hero-names">
        <Titles {hero} />
      </div>
    </div>
    <div class="hero-content">
      {#if showAbilities}
        <Abilities abilities={hero.abilities} />
      {/if}
      {#if showTips && hero.knownFor}
        <div class="synopsis-container">
          <Synopsis tip={hero.knownFor} />
        </div>
      {/if}
    </div>
  </main>
</article>

<style>

  
  article {
    font-size: 1em;
    /*width: 100vw;*/
    /*height: 100vh;*/
    height: 100%;
    display: flex;
    flex: 1 0 auto;
  
  }
  
  main {
    /*padding: 5vh 5vw;*/
  }
  
  .centered {
    margin: auto auto;
  }

  
  .hero-image {
    margin: 1em 2em 0 0;
  }
  
  .hero-icon {
    display: block;
  }
  
  .hero-names {
    margin-left: 1rem;
    
  }
  
  .hero-title {
    display: flex;
    align-items: flex-start;
  }
  
  .hero-content {
    display: flex;
    margin: 2rem 0 0 0;
    flex: 1 0 40%;
    justify-content: space-between;
  }
  
  .synopsis-container {
    width: 50%;
  }
  
  
</style>

<script>

  import HeroIcon from "components/Hero/Icon.html";
  import Synopsis from "components/Hero/Synopsis.html";
  import Abilities from "components/Hero/Abilities.html";
  import Titles from "components/Hero/Titles.html";

  export default {
    
    data() {
      return {
        showImage: true,
        showAbilities: true,
        showTips: true,
      }
    },
    
    components: {  Synopsis, Abilities, HeroIcon, Titles, }
  }
</script>