
<article>
  <main>
    <!--<img class="hero-icon" src="{imageSrc(hero.icon)}" alt="{hero.name}" />-->
    
    <div class="hero-title">
      <img class="hero-image" src="{imageSrc(hero.img)}" alt="{hero.name}" />
      <div class="names">
        <h1 class="hero-name"> {hero.localized_name}</h1>
        <h3 class="roles" style='{hero.name[0].toLowerCase() === "j" ? "padding-left: 2rem;" : ""}'>{hero.roles.join(", ")}</h3>
      </div>
    </div>
    <div class="hero-content">
      {#if showAbilities}
        <Abilities abilities={hero.abilities} />
      {/if}
      {#if showTips && hero.knownFor}
        <div class="synopsis-container">
          <Synopsis tip={hero.knownFor} />
        </div>
      {/if}
    </div>
  </main>
</article>

<style>

  
  article {
    font-size: 1rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: 1 0 auto;
  
  }
  
  main {
    padding: 5vh 10vw;
    /*margin: auto 0;*/
  }

  h1 {
    font-size: 3rem;
  }
  
  
  .hero-image {
    margin: 1rem 2rem 0 0;
  }
  
  .hero-icon {
    display: block;
  }
  
  .hero-name {
    margin: 1rem 0 0 0;
    font-size: 6rem;
    line-height: 0.8em;
    
  }
  
  .roles {
    font-size: 2rem;
    color: #b2b2b2;
  }
  
  .hero-title {
    display: flex;
    align-items: center;
  }
  
  .hero-content {
    display: flex;
    margin: 4rem 0 0 0;
    flex: 1 0 40%;
    justify-content: space-between;
  }
  
  .synopsis-container {
    width: 50%;
  }
  
  
</style>

<script>

  import Synopsis from "components/Hero/Synopsis.html";
  import Abilities from "components/Hero/Abilities.html";

  export default {
    
    data() {
      return {
        showAbilities: true,
        showTips: true,
      }
    },
    
    helpers: {
      
      imageSrc(path) {
        const origin = "https://api.opendota.com";
        return `${origin}${path}`
      },
      
    },
    
    components: {  Synopsis, Abilities, }
  }
</script>