<aside class="tip">
  {#if showTitle}
    <h3>Synopsis</h3>
  {/if}
  <div class="synopsis {inline ? 'inline' : ''}">
    <p class="">{@html tip.text}</p>
    {#if tip.imageURL.length > 0}
      <img src="{tip.imageURL}" alt="explanatory image" />
    {:elseif tip.videoURL.length > 0}
      <video src="{tip.videoURL}" autoplay loop muted></video>
    {/if}
  </div>
</aside>

<style>
  .tip {
    width: 100%;
  }
  
  .synopsis {
    
  }
  
  .synopsis.inline {
    display: flex;
    align-items: flex-start;
  }
  
  .synopsis > p {
    font-size: 1.2em;
    line-height: 1.6em;
  }
  
  video,
  img {
    margin-top: 1rem;
    width: auto;
    max-width: 100%;
  }
</style>

<script>
  export default {
    data() {
      return {
        showTitle: true,
      }
    }
  }
</script>