
<div class="add-screen">
  
  <div class="uri-section">
    <code>/screens/<span class="url">{ uri.length > 0 ? uri : "<enter a name>" }</span></code>
  </div>

  <input type="text" placeholder="Enter a Name" bind:value="name" />


  <button on:click="addScreen(event)">Create{name.length > 0 ? ` '${name}'` : ""}</button>
  

  {#if screenRecentlyAdded}
    <div class="notification">Screen <b>{lastAddedScreenName}</b> was added.</div>
  {/if}
</div>

<style>
  
  .add-screen {
    padding: 1rem 2rem;
    background-color: var(--panel-background);
    margin-bottom: 1rem;
  }
  
  .uri-section {
    padding: 0.5rem 0rem;
    display: block;
  }

  .url {
    display: inline-block;
    font-weight: 600;
  }
  
  button {
    justify-self: flex-end;
  }
</style>

<script>
  
  import screens from "helpers/screens";
  import apps from "helpers/apps";

  
  export default {

    data() {
      return {
        name: "",
        timeoutID: null,
        screenRecentlyAdded: false,
        lastAddedScreenName: "",
      }
    },
    
    computed: {
      uri: ({name}) => name.toLowerCase().replace(/ /gi, "-"),
    },
    
    methods: {
    
      addScreen(e) {
        e.preventDefault();
        const that = this;
        let { name, uri } = this.get();
        
        if (name.length === 0) return;
        let app = apps.getDefaultApp();
        app = { name: app.name, id:app.id, settings: app.settings, };
        screens.add({ name, uri, app, }).then(() => that.postAdd(name));
      },
      
      postAdd() {
        const notificationDuration = 5000;
        let { name, timeoutID } = this.get();
        
        this.set({ 
          name: "",
          screenRecentlyAdded: true,
          lastAddedScreenName: name,
        });
        
        const clearedState = { screenRecentlyAdded: false, lastAddedScreenName: "", };
        
        if (timeoutID !== null) {
          window.clearTimeout(timeoutID);
        }
        
        timeoutID = window.setTimeout(() => this.set(clearedState), notificationDuration);
        this.set({ timeoutID })
      }
      
    }
    
  }
  
</script>