{#if App === null}
  <p>App not found.</p>
{:else}
  <svelte:component this={App} settings={settings} />
{/if}

<script>
  
  import apps from "helpers/apps";
  
  export default {
    
    data() {
      return {
        App: null,
        settings: null,
      }
    },
    
    oncreate() {
      const appID = this.options.data.pageData;
      const app = apps.getAppByID(appID);
      console.log(app)
      if (app !== null) this.set({ App: app.component, settings: app.settings });
    }
    
  }
  
</script>