{#if screen !== null}
  <div class="selected-screen">
    <h2 class="screen-title">{screen.name} <span class="deselect material-icons" on:click="fire('deselect')">close</span></h2>
    <div class="selected-screen-content">
      
      <div class="settings">
        <label>App
          <select ref:apps bind:value="screen.app.id" on:change="setApp()">
            {#each apps as app}
              <option value="{app.id}">{app.name}</option>
            {/each}
          </select>
        </label>
        <div class="app-settings">
          {#if editor}
            <svelte:component this={editor} screenID={screen.id} app={screen.app} settings={screen.app.settings}  />
          {/if}
        </div>
      </div>
      
      <button on:click="deleteScreen()">Delete {screen.name}</button>
      
    </div>
  </div>
{:else}
  <aside class="empty">
    Select a screen
  </aside>
{/if}

<style>
  .selected-screen {
    background-color: var(--panel-background);
    padding: 1rem 1rem;
    height: 100%;
  }
  
  .empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    opacity: 0.5;
  }
  
  .screen-title {
    display: flex;
    justify-content: space-between;
  }
  
  .deselect {
    cursor: pointer;
    opacity: 0.5;
  }
  
  .deselect:hover {
    opacity: 1;
  }
  
  .settings {
    padding: 1rem 0;
  }
  
  .app-settings {
    margin-top: 1rem;
    padding: 1rem 1rem;
  }
  
  select {
    padding: 0.5rem 1rem;
  }
</style>

<script>
  
  import screens from "helpers/screens";
  import apps from "helpers/apps";
  
  export default {
    
    data() {
      return {
        screen: null,
        apps: apps.getApps(),
        editor: null,
      }
    },
    
    onstate({changed, current}) {
      
      if (changed.screen && current.screen !== null) {
        const screen = current.screen;
        const app = apps.getAppByID(screen.app.id);
        if (app) {
          const editor = app.editor;
          this.set({ editor, })
        }
      }
    },
    
    methods: {
      deleteScreen() {
        const { screen } = this.get();
        const { name, id } = screen;
        console.log(`Attempting to remove ${name} / ${id}`);
        if (window.confirm(`Are you sure you want to delete screen '${name}'?`)) {
          this.fire("deselect");
          screens.remove(id);
        }
      },
      
      setApp(value) {
        const appID = this.refs.apps.value;
        const { screen } = this.get();
        const { id, name, settings, editor, } = apps.getAppByID(appID);
        const appData = { id, name, settings,};
        this.set({ editor })
        screens.setApp(screen.id, appData);
      }
      
    },
    
  }
  
</script>