
<article>
  <main>
    <!--<img class="hero-icon" src="{imageSrc(hero.icon)}" alt="{hero.name}" />-->
    
    <div class="hero-title">
      <img class="hero-image" src="{imageSrc(hero.img)}" alt="{hero.name}" />
      <div class="names">
        <h1 class="hero-name"> {hero.localized_name}</h1>
        <h3 class="roles" style='{hero.id === 8 ? "padding-left: 2rem;" : ""}'>{hero.roles.join(", ")}</h3>
      </div>
    </div>
  </main>
</article>

<style>


article {
  font-size: 3rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: 1 0 auto;
}

main {
  padding: 10vh 15vw;
  /*margin: auto 0;*/
}

  h1 {
    
  }
  
  
  .hero-image {
    margin: 1rem 2rem 0 0;
  }
  
  .hero-icon {
    display: block;
  }
  
  .hero-name {
    margin: 1rem 0 0 0;
    font-size: 6rem;
    line-height: 0.8em;
    
  }
  
  .roles {
    font-size: 2rem;
    color: #b2b2b2;
  }
  
  .hero-title {
    display: flex;
  }
  
</style>

<script>
  export default {
    
    helpers: {
      
      imageSrc(path) {
        const origin = "https://api.opendota.com";
        return `${origin}${path}`
      }
      
    }
  }
</script>